extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Trent Nelson
        p Full Stack JavaScript Developer

        .about-bio

          p I'm a Javascript developer with 4 years in client-side development that includes libraries like Jquery, Vue/Vuex, Webpack and Pug, and I'm looking to take the next step in my career. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li SCSS/SASS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch / Axios
          li Public APIs
          li Node.js
          li Express
          li Vue/Vuex
          li Jquery 
          li Pug

        h6 Contact Info

        ul
          li 970-541-8755
          li trent@pegasuscart.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://linkedin.com') LinkedIn
        a.btn-link(href='https://github.com/tanelson92') GitHub
        a.btn-link(href='https://twitter.com') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back