extends layout.pug

block content

  article.portfolio-intro

    h1 Hey, Hey, Hey, Glad You Came!
    p I'm overjoyed you're here because I've got a bunch of projects below for you to see just what I'm capable of. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects  
      
        //- Each Project "Thumbnail" listed here. 
        .cell
          a(href=`/project/${project.id}`).p-ind-proj
            img.thumbnail(src=`/static/images/landing/${project.image_urls[2]}`, alt=`Thumbnail of ${project.project_name}`)
            h5= project.project_name

