<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title My Portfolio | Trent Nelson
    link(href='https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    link(rel='stylesheet', href='/static/css/main.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/trent.jpg', alt='A picture of Trent Nelson')
        .dev-intro-box

          h5 Trent Nelson
          p A Javascript developer with 4 years experience in Frontend Development, a Bachelors of Science in Information Technology, and a teeny tiny clue about what I'm doing. 
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Trent Nelson

      block content

  script(src='/static/js/script.js')
